[submodule "plus4"]
	path = plus4
	url = git@github.com:litwr/xlife8-plus4.git
[submodule "cpc6128"]
	path = cpc6128
	url = git@github.com:litwr/xlife8-cpc6128.git
[submodule "bk0011"]
	path = bk0011
	url = git@github.com:litwr/xlife8-bk0011.git
[submodule "ibmpc"]
	path = ibmpc
	url = git@github.com:litwr/xlife8-ibmpc.git
